body {
  font-family: sans-serif;
}

.card {
  margin: 100px auto;
  width: 30%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 15px #00000029;
  border-radius: 15px;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card p {
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  font-size: 16pt;
}

.card p.price {
  font-weight: normal;
  color: #a5a5a5;
  margin: 0px 0px 20px 0px;
  font-size: 12pt;
}

.card button {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  color: white;
  background-color: #3e7dff;
  border: none;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8pt;
  cursor: pointer;
}